*,
html{
    margin: 0;
    padding: 0;
}

body {
    background-color: maroon;
}

.cover {
    border: 2px solid wheat;
    border-radius: 8px;
    padding: 5px;
    background-color: black;
    height: 10vh;
}

.u-img {
    background-color: black;
    align-items: center;
    height: 10vh;
}

.cover1 {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 10vh;
}

.cover2 {
    font-size: 25px;
    list-style-type: none;
    margin: 2px;
    padding: 10px;
    text-decoration: solid;
}

.cover2:hover {
    background-color: maroon; 
    transition: .3s ease-in-out;
    border-radius: 10px;
}

.a-format {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: white;
    text-decoration: solid;
}

.content {
    border: 2px solid wheat;
    border-radius: 8px;
    background-color: maroon;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a-content1 {
    border: 2px solid maroon;
    border-radius: 8px;
    padding: 60px;
    background-color: maroon;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    
}

.a-content1:hover{
    background-color: maroon;
    transition: .3s ease-in-out;
    border-radius: 10px;
}

.a-content {
    color: white;
    display: contents;
    text-decoration: solid;
}

.footer{
    border: 2px solid wheat;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 10vh;
}

.h1-footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: white;
    text-decoration: solid;
}